{{ > head}}

<body>
   {{ > nav }}
   <div class="container mt-5">
      <div class="row">
	  
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9636723058225109"
     crossorigin="anonymous"></script>
 
	 
	  <form action="/docToPDF" method="Post"enctype="multipart/form-data">
         <div class="col-md">
            <div class="jumbotron">
               <h1 class="display-4">Convert doc to PDF</h1>
               <hr class="my-4">
               <p>Convert your doc documents to PDF.</p>
               <div class="input-group mb-3">
                  <div class="custom-file">
                     <input type="file" class="custom-file-input" name="wordFile" id="inputGroupFile1">
                     <label class="custom-file-label"  id="labelinputGroupFile1" for="inputGroupFile01" aria-describedby="inputGroupFileAddon02">Choose file</label>
                  </div>
               </div>
			   <button type="submit" class="btn btn-primary btnSubmit">Convert to PDF now</button>
            </div>
			{{#error}}
			<div class="alert alert-danger" id="alert" role="alert">
				{{error}}
			</div>
			{{/error}}
         </div>
	</form>		
<form action="/PDFToDoc" method="Post"enctype="multipart/form-data">
         <div class="col-md">
            <div class="jumbotron">
               <h1 class="display-4">Convert PDF to Doc</h1>
               <hr class="my-4">
               <p>Convert your PDF documents to word.</p>
			    <div class="input-group mb-3">
                  <div class="custom-file">
                     <input type="file" class="custom-file-input" name="PDFFile" id="inputGroupFile2">
                     <label class="custom-file-label"  id="labelinputGroupFile2" for="inputGroupFile01" aria-describedby="inputGroupFileAddon02">Choose file</label>
                  </div>
               </div>
                <button type="submit"  class="btn btn-primary btnSubmit">Convert to word now</button>
            </div>
         </div>
	</form>			 
		 
      </div>
   </div>
   
  
  {{ > footer}}